
/* header title */
.logo{
    width: 50px;
    height: 40px;
    margin-left: 50px;
    padding-top: 20px;
}
.header {
    background-color:rgb(15, 30, 236);   
    display: flex;
    

}
.header-title{
    color: rgb(231, 222, 222);
    font-size: 30px;
    margin-left: 400px;
            }
.menu{
   margin-left: 100px;

}

.menu-list {
    display: flex;
    list-style: none ;  
    padding-bottom: 40px; 


}
.anchor-text {
    text-decoration: none;
    margin-right: 20px;
    color: white;
    


}

/* font poppin  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.container {
    background-color: #ffff;
    width: 870px;
       }

main {
    display: flex;
    justify-content: center;

}
body {
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;
}
.section {
    color: blue;
    padding-left: 30px;
    padding-top: 30px;

}
.players{
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;

    }
    
    .player {
        display: flex;
        align-items: center;
        
    }
    .player img{
        width: 56px;
        height: 56px;
        padding-left: 30px;

         }
    .player-name {
        padding: 16px;
    }